{{users | json}}
<div>
    <input [(ngModel)] ="nameInput">
    <button class="btn btn-primary" type="submit" (click)="createUser()">Submit</button>
</div>

<div>
   <input
     [(ngModel)]="userIdInput"
     type="number">
  <button class="btn btn-danger" type="button" (click)="deleteUser()">Delete</button>
</div>


<div>
  <label>
    ID:
       <input [(ngModel)] ="updateUserInputId" type="number">
  </label>
  <label>
    New Name:
       <input [(ngModel)] ="updateUserInputName">
  </label>

  <button type="delete"  class="btn btn-outline-success" (click)="updateUser()">Update</button>
</div>
